body {
    background-color: #181818; /* Dark background */
    color: #FFFFFF; /* Light text */
}

h1 {
    font-family: 'Arial', sans-serif; /* Google-like font */
    font-size: 3rem; /* Large font size */
    text-align: center; /* Center-align heading */
}

form {
    margin-top: 30px; /* Space between heading and form */
}

.form-control {
    font-size: 1.2rem; /* Slightly larger font size for the input */
}

button {
    font-size: 1rem; /* Consistent button font size */
}

.Home-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    /* put in index.html    <button class="Home-button"><a href="home.html">Home</a></button> */
}

/* to center weather in city {name} can use vertical-align property 
    <img style="vertical-align: middle;" src="data:image/jpeg;base64,{{ image }}" alt="City Image">
    <span>Weather in {{ city_name }}</span>
*/
